.navigation a {
    display: block;
    float: left;
    padding: 0 20px;
    line-height: 40px;
    border-right: 1px solid rgb(233, 184, 184);
    background-color: black;
}
html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    background: radial-gradient(#648880, #293f50);
}
a {
    color: white;
    text-decoration: none;

}
.formStyle {
    display: block;
    background-color: black;
    line-height: 40px;
}
.sitename {
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
    line-height: 20px;
    padding: 0px 3px 0px 3px;
}
.searchbox {
    margin-top: -90px;
}
.routes {
    margin: -3px 0px 0px -30px;
}
.searchbox {
    margin-left: 15px;
    line-height: 10px;
} 
.btn {
    margin-right: -50px;
}
h2 {
    color: lightcoral;
}
.mainstory:after,
.mainstory:before {
    content: "";
    display: grid;
}
.mainstory::after {
    clear: both;
}
.mainstory {
    clear: both;
    *zoom: 1;
}
.imgOne {
    width: 80%;
    margin-left: 100px;
    filter: brightness(80%) contrast(120%);
    height: 450px;
}
.imgOne:hover{
    opacity: .6;
}
.images:hover {
    opacity: .6;
}
.images {
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-right: -5px;
    height: 216px;
    margin-top: -8px;
}
h2 {
    margin-left: 7.5px;
}
.storyoneheading {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: sans-serif;  
    float: left;
    text-shadow: 3px 4px 4px black;
    position:relative;
    top: -450px;
    left: 380px;
}
@media only screen and (max-width: 700px) {
    .storyoneheading {
        font-size: 12.3px;
        left: 130px;
    }
}
@media only screen and (min-width: 960px) {
    .storyoneheading {
        font-size: 14.4px;
    }
}
li {
    list-style-type:none;
}
footer {
    clear: both;
    text-align: center;
    padding: 10px 10px;
}
.sitename:hover {
    color: darkgray;
}
.hover:hover {
    color: darkgray;
}
.socials:hover {
    color: darkgrey;
}
a:visited {
    color: lightgrey;
}
.sign-in {
    text-align: center;
    margin-top: 100px;
}
.signInHeading {
    color:white;
    background-color: black;
    text-align: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, "Segoe UI", segoe UI;
    text-transform:uppercase;
    font-size: 60px;
}
#signInPage {
    background-color: black;
    margin: 0px auto;
}
/* property to show all boxes making up the page */
/* * {
    outline: 1px solid red !important;
 }   */