/* Base styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    /* Web title heading */
.websiteHeading {
    margin: 15px 0 0 0;

}
.navigation a {
    float: left;
    padding: 0 22px;
    line-height: 40px;
    border-right: 1px solid rgb(233, 184, 184);
    background-color: black;
}
html, body {
    margin: 0px;
    padding: 0px;
    max-width: 1400px;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(to left bottom, #233b36, #050000);
    background-repeat: repeat;
}
a {
    color: white;
    text-decoration: none;

}
.rowContainer {
    min-width: 960px;
    height: 450px;
    margin: 50px;
}
.searchInput {
    margin-left: 9px;
}
.formStyle {
    display: block;
    background-color: black;
    line-height: 40px;
}
.sitename {
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 20px;
    line-height: 25px;
    padding: 0px 5px 0px 5px;
}
.searchbox {
    margin-top: -90px;
}
.routes {
    margin: -3px 0px 0px -30px;
}
.searchbox {
    margin-left: 15px;
    line-height: 10px;
} 
.btn {
    margin-right: -50px;
}
h2 {
    color: lightcoral;
}
.mainstory {
    margin-top: 25px;
}
.mainstory:after,
.mainstory:before {
    content: "";
}
.mainstory::after {
    clear: both;
}
.mainstory {
    clear: both;
    *zoom: 1;
}
.imgOne {
    float: left;
    clear: both;
    width: 48%;
    filter: brightness(80%) contrast(120%);
    height: 450px;
    display: block;
    position: relative;
    right: 33px;
}
.imgOne:hover{
    opacity: .6;
}
.images:hover {
    opacity: .6;
}
.images {
   height: 216px;
   float: left;
   width: 26%;
   margin: 0 0 18px 0;
}
.movedLeft {
    margin: 0 8px 0 -15px;
}
.secondStory {
    position: relative;
    filter: brightness(80%);

}
.secondStoryHeading {
    position: absolute;
    left: 580px;
    top: 10px;
    font-size: .8em;
    text-shadow: 10px 10px 3px red;
    color: white;
}
.thirdStory {
    position: relative;
    filter: brightness(80%);
    background-blend-mode:hard-light;
    z-index: 0;
}
.thirdStoryHeading {
    position: absolute;
    left: 49%;
    top: 375px;
    font-size: .6em;
    text-shadow: 10px 10px 3px red;
    color: white;
    z-index: 1;
}
.fourthStory {
    position: relative;
    filter: brightness(80%);
}
.fourthStoryHeading {
    position: absolute;
    left: 89.2em;
    top: 20px;
    font-size: .62em;
    text-shadow: 10px 10px 3px red;
    color: white;
}
.fifthStory {
    position: relative;
    filter: brightness(80%);
}
.fifthStoryHeading {
    position: absolute;
    left: 60.6em;
    top: 245px;
    font-size: .9em;
    font-weight: 700;
    text-shadow: 10px 10px 3px red;
    color: white;
}
h2 {
    margin-left: 7.5px;
}
.storyoneheading {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: sans-serif;  
    text-shadow: 10px 10px 4px black;
    position: absolute;
    top: 22%;
    left: 5%;
}

li {
    list-style-type:none;
}
footer {
    clear: both;
    text-align: center;
    padding: 10px 10px;
    position: relative;
    top: 50px;
}
.sitename:hover {
    color: darkgray;
}
.hover:hover {
    color: darkgray;
}
.socials:hover {
    color: darkgrey;
}
a:visited {
    color: lightgrey;
}
.sign-in {
    position: relative;
    text-align: center;
    top: 225px;
}
.signInHeading {
    color:white;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, "Segoe UI", segoe UI;
    text-transform:uppercase;
    font-size: 60px;
}
#signInPage {
    background-color: black;
    margin: 0px auto;
    height: 0;
}
.iframeLogin {
    width: 100%;
    border: 6px solid grey;
}
/* property to show all boxes making up the page */
/* * {
    outline: 1px solid red !important;
 }   */